name: Reporte Semanal Automatico

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

jobs:
  enviar-reporte:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4

      - name: Configurar Entorno
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          pip install -r requirements.txt

      - name: Ejecutar script de reporte
        run: |
          python correos.py
    