name: Reporte Semanal Automatico

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

jobs:
  enviar-reporte:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar Entorno
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          pip install -r requirements.txt
          pip install "dvc[s3]"

      - name: Crear carpeta Datos
        run: mkdir -p Datos

      - name: Ejecutar script de reporte
        run: |
          python correos.py
        env:
          SAMSARA_TOKEN: ${{ secrets.SAMSARA_TOKEN }}

      - name: Configurar y Subir a DagsHub
        run: |
          # 1. Configurar el remoto usando la URL de tu imagen
          dvc remote add origin s3://dvc --force
          dvc remote modify origin endpointurl https://dagshub.com/LuisEduardoRomeroOlmos/embajadoresV1.s3
          
          # 2. Agregar el archivo y subirlo usando variables de entorno de AWS
          dvc add Datos/
          dvc push -r origin
        env:
          # DagsHub acepta el Token como Access Key y Secret Key en protocolo S3
          AWS_ACCESS_KEY_ID: ${{ secrets.DAGSHUB_TOKEN }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DAGSHUB_TOKEN }}

      - name: Sincronizar puntero DVC en Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add Datos.dvc .gitignore
          git commit -m "Update weekly report data [skip ci]" || echo "No hay cambios"
          git push origin main
       
    